<section>
  <div class="flex justify-between pb-6">
    <span class="text-blue text-sm font-bold">Tarefas criadas</span>
    <!--    para o contador basta fazer um span    -->
    <span class="text-purple text-sm font-bold">Concluídas</span>
  </div>
  <div class="rounded-t-lg border-t border-gray-400">
    <!--  @if (tasks) {-->
    <!--    @for (task of tasks; track task.id) {-->
    <!--      <app-task-card />-->
    <!--    }-->
    <!--  } @else {-->
    <app-empty-task />
    <!--  }-->
  </div>
</section>
