<section>
  <form
    class="flex w-full"
    [formGroup]="newTaskForm"
    (ngSubmit)="handleSubmitNewTask()"
  >
    <input
      type="text"
      placeholder="Adicione uma nova tarefa"
      class="bg-gray-500 text-base p-4 cursor-pointer focus:shadow-purple-dark focus:shadow-sm focus:outline-none focus:ring-0 focus:border-danger focus:text-gray-200 rounded-lg flex-1"
      formControlName="description"
    />
    <button
      type="submit"
      [disabled]="newTaskForm.invalid"
      class="ml-3 text-gray-100 text-sm font-bold px-4 bg-blue-dark rounded-lg flex items-center disabled:opacity-50 duration-100"
    >
      <span class="pr-2">Criar</span>
      <lucide-icon [img]="CirclePlus" class="size-4"></lucide-icon>
    </button>
  </form>
</section>
