<section class="flex">
  <input
    type="text"
    placeholder="Adicione uma nova tarefa"
    class="bg-gray-500 text-base p-4 rounded-lg shadow-gray-700 shadow-sm mr-2 text-left w-full placeholder-gray-300
   focus:shadow-purple-dark focus:shadow-sm focus:outline-none focus:ring-0 focus:border-danger"
  />
  <button
    type="submit"
    class="text-gray-100 text-sm font-bold px-4 bg-blue-dark rounded-lg flex items-center"
  >
    <span class="pr-2">Criar</span>
    <lucide-icon [img]="CirclePlus" class="size-4"></lucide-icon>
  </button>
</section>

